* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 800px;
  text-align: center;
}

.modalContainerTitle{
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}
.modalContainerFooter {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.modalContainerBtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#cancelBtn {
  background-color: crimson;
}

#MyModalCheangStyle{
  align-items: flex-start;
}